<div
  class="container-fluid d-flex justify-content-center align-items-center mt-5"
>
  <div class="col">
    <button class="btn btn-secondary my-1 float-end">Registrar usuario</button>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre de cliente</th>
          <th scope="col">Documento</th>
          <th scope="col">Correo</th>
          <th scope="col">Telefono</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of listcustomers">
          <td>{{ customer.id_customers }}</td>
          <td>{{ customer.document }}</td>
          <td>{{ customer.email }}</td>
          <td>{{ customer.phone }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
